<div
  class="translate_wrapper"
  [class.active]="navServices.language"
  (click)="$event.stopPropagation()"
>
  <button
    type="button"
    class="current_lang"
    [attr.aria-expanded]="navServices.language"
    aria-haspopup="menu"
    title="Change language"
    (click)="toggleLanguageMenu($event)"
  >
    <span class="lang">
      <i class="flag-icon flag-icon-{{ selectedLanguage.icon }}"></i>
    </span>
  </button>
  <div
    class="more_lang"
    [class.active]="navServices.language"
    (click)="$event.stopPropagation()"
  >
    @for(lang of languages; track lang.code){
    <button
      type="button"
      class="lang"
      [class.lang--selected]="lang.code === selectedLanguage.code"
      [attr.aria-current]="lang.code === selectedLanguage.code ? 'true' : null"
      [attr.data-value]="lang.code"
      (click)="changeLanguage(lang, $event)"
    >
      <i class="flag-icon flag-icon-{{ lang.icon }}"></i>
      <span class="lang-txt"
        >{{ lang.language }} @if(lang.type){
        <span>({{ lang.type }})</span>
        }
      </span>
    </button>
    }
  </div>
</div>
