<div class="app-date-range-filter">
  <div class="app-date-range-filter__field">
    <app-date-picker
      [label]="fromLabel"
      [placeholder]="fromPlaceholder"
      [value]="from"
      [disabled]="disabled"
      (dateChange)="onFromChange($event ?? '')"
    />
  </div>
  <div class="app-date-range-filter__field">
    <app-date-picker
      [label]="toLabel"
      [placeholder]="toPlaceholder"
      [value]="to"
      [disabled]="disabled"
      (dateChange)="onToChange($event ?? '')"
    />
  </div>
</div>
