<div class="app-pagination-bar">
  <div class="app-pagination-bar__meta">
    <span class="app-pagination-bar__meta-label">{{ 'Records' | translate }}</span>
    <strong class="app-pagination-bar__meta-value">{{ totalCount }}</strong>
  </div>

  <div class="app-pagination-bar__nav">
    <button class="btn btn-sm app-pagination-bar__btn" type="button" [disabled]="!canGoPrevious" (click)="goPrevious()">
      {{ 'Previous' | translate }}
    </button>
    <span class="app-pagination-bar__current">{{ pageNumber }} / {{ normalizedTotalPages }}</span>
    <button class="btn btn-sm app-pagination-bar__btn" type="button" [disabled]="!canGoNext" (click)="goNext()">
      {{ 'Next' | translate }}
    </button>
  </div>

  @if (showPageSize) {
    <div class="app-pagination-bar__size">
      <label class="app-pagination-bar__size-label">{{ 'Page Size' | translate }}</label>
      <app-smooth-select
        class="app-pagination-bar__size-select"
        [ariaLabel]="'Page Size' | translate"
        [options]="pageSizeSelectOptions"
        [value]="pageSize"
        (valueChange)="onPageSizeChange($any($event))"
      />
    </div>
  }
</div>
