<footer class="footer">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-md-6 p-0 footer-copyright">
        <div class="d-flex align-items-center gap-2">
          <img src="assets/images/logo/logo-icon.png" alt="Vehicle Rental Management System" height="24" />
          <p class="mb-0">Copyright {{ year }} © Vehicle Rental Management System</p>
        </div>
      </div>
      <div class="col-md-6 p-0">
        <p class="heart mb-0 text-md-end">Admin Dashboard</p>
      </div>
    </div>
  </div>
</footer>
