<div [ngClass]="navmenu.isDisplay ? 'page-header close_icon':'page-header'">
  <div class="header-wrapper row m-0">
    <div class="header-logo-wrapper col-auto p-0">
      <div class="toggle-sidebar" (click)="openMenu()">
        <svg class="sidebar-toggle">
          <use href="assets/svg/icon-sprite.svg#stroke-animation"></use>
        </svg>
      </div>
    </div>
    <div
      class="nav-right col-auto pull-right right-header p-0 ms-auto"
    >
      <ul class="nav-menus">
        <li class="onhover-dropdown">
          <app-notification />
        </li>
        <li class="theme-nav">
          <app-theme />
        </li>
        <li class="language-nav" (click)="languageToggle()">
          <app-language />
        </li>
        <li class="profile-nav onhover-dropdown p-0">
          <app-profile />
        </li>
      </ul>
    </div>
  </div>
</div>
